[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=xscreensaver-service
Comment=
Exec=sleep 30 && /home/adminuser/xscreensaver/download_pics.pl
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

